{
    "env": {
      "browser": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/jsx-runtime"
    ],
    "overrides": [
      {
        "files": ["**/*.{js,mjs,cjs,ts,jsx,tsx}"]
      }
    ]
  }